@import url('/src/ui/theme-style/var.css');

.monthly-emotion-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(7, 1fr);
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-date);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: var(--text-color);
    height: 25px;
}

.date:hover {
    background-color: var(--background-date-hover);
    transition: 0.5s;
}

#modal-modal-title,
#modal-modal-description {
    color: var(--text-color);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-date);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
