.MuiList-root {
    background-color: var(--menu-item-background);
}

.MuiMenuItem-root {
    color: var(--text-color);
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: var(--menu-item-background) !important;
}

@media (max-width: 600px) {
    .desktop-wordcloud {
        display: none;
    }
}

@media (min-width: 601px) {
    .mobile-wordcloud {
        display: none;
    }
}
