@import url('/src/ui/theme-style/var.css');

.App {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

html {
    background-color: var(--background);
}

.MuiSelect-icon {
    color: var(--delete-icon) !important;
}
